[Unit]
Description=VAST NFSv3 protocol load generator
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/home/vastdata/kmactools/scripts/nfs3-loadgen.sh /mnt/kmacs-root/nfstest
WorkingDirectory=/tmp
KillMode=mixed
KillSignal=SIGTERM
TimeoutStopSec=30
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
